// @use 'auth/indexAuth';
@use 'exponent/indexExponent';

*{
    margin: 0;
    padding: 0;
    font-family: Calibri;
}
#root{
    --bg-section: #242526;
    --bg: #18191a;
    --font-color: #e4e6eb;
    
    
    overflow: hidden;
    background-color: var(--bg);
    color: var(--font-color);
}