.sellDatesView{
    .followers{
    }
    .calification{
        .calification-string{
            display: inline-block;
            margin-right: 5px;
        }
        .calification-point{
            display: inline-block;
            width: 6px;
            height: 6px;
            margin-right: 2px;
            border-radius: 50%;
            border: 1px solid var(--font-color);
        }
        .active{
            background-color: var(--color-calification);
        }
        .inactive{
            background-color: #00000000;
        }
    }
}
.buttons-main{
    display: flex;
    align-items: center;

    .button-style, .button-style-ancho{
        border: 1px solid var(--font-color);
        border-radius: 8px;
        padding: 5px;
        margin-left: 4px;
    }
    .button-style-ancho{
        padding: 5px 16px;

    }
}