.sellDatesView{
    .followers{
        @media ( min-width: 750px ) {
            font-size: 1.2em;
        }
    }
    .calification{
        .calification-string{
            display: inline-block;
            margin-right: 5px;
        }
        .calification-point{
            display: inline-block;
            width: 6px;
            height: 6px;
            margin-right: 2px;
            border-radius: 50%;
            border: 1px solid var(--font-color);
        }
        .active{
            background-color: var(--color-calification);
        }
        .inactive{
            background-color: #00000000;
        }
        @media ( min-width: 750px ) {
            .calification-string{
                font-size: 1.2em;
            }
            .calification-point{
                width: 8px;
                height: 8px;
                margin-right: 2px
            }
        }
    }
}
.buttons-main{
    display: flex;
    align-items: center;

    .button-style, .button-style-ancho{
        border: 1px solid var(--font-color);
        border-radius: 8px;
        padding: 5px;
        margin-left: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .button-style-ancho{
        padding: 5px 16px;
    }
    @media ( min-width: 750px ){
        margin-left: 20px;
        .button-style, .button-style-ancho{
            width: 20px;
            height: 30px;
            font-size: 1.2em;
        }
        .button-style-ancho{
            width: 40px;
        }
    }
}