@use 'infoHeader';
@use 'categoriesShow';
@use 'categoriesSelectors';

.exponent{
    width: 100%;
    height: 100vh;
    max-width: 800px;
    margin: auto;
    
    img[alt='Portada'], img[alt='Perfil'] {
        width: 100%;
    }

    .head-main{
        background-color: var(--bg-section);
        display: flex;
        flex-direction: column;
        position: relative;
        height: var(--headMainElement-heigth);
        padding-bottom: 10px;
        @media ( min-width: 750px ){
            padding-bottom: 20px;
            border-radius: 16px;
        }
        .portada-photo{
            position: relative;
            height: 15vh;
            overflow: hidden;
            display: inline-flex;
            align-items: center;
            @media ( min-width: 750px ) {
                border-radius: 0 0 16px 16px;
                height: 22vh;
            }
        }
        .perfil-photo{
            display: inline-flex;
            position: absolute;
            align-items: center;
            justify-content: center;
            width: 25vw;
            left: 4vw;
            top: var( --perfilElement-top );
            height: var( --perfilElement-height );
            @media ( min-width: 750px ) {
                left: 5%;
                width: 18%;
            }
            img{
                clip-path: var(--perfilElement-clipPath);
            }
        }
        .more-info{
            display: inline-flex;
            position: absolute;
            right: 4vw;
            top: var(--moreInfoElement-top);
            @media ( min-width: 750px ) {
                right: 5%;
            }
        }
        .shop-name{
            width: 92vw;
            display: inline-block;
            margin: auto;
            position: relative;
            font-family: Cambria;
            font-size: .8em;
            max-height: 2.5em;
            overflow: hidden;
            top: var(--titleElement-top);
            @media ( min-width: 750px ) {
                width: 90%;
                font-size: 1.5em;
            }
        }
    }
}