.sellDatesView{
    display: inline-block;
}
/* .followers{

}
.calification{

} */

.calification-string{
    display: inline-block;
    margin-right: 4px;
}
.calification-point{
   border: 1px solid var(--text-color);
   height: 8px;
   width: 8px;
   border-radius: 50%;
   display: inline-block;
   margin-right: 2px;
}
.active{
    background-color: var(--color-calification);
}
.inactive{
    background-color: #00000000;
}