.button-style{
    padding: 4px;
}
.button-style-ancho{
    padding: 4px 12px;
}
.button-style, .button-style-ancho{
    border:  1px solid var( --text-color );
    border-radius: 8px;
    display: inline-block;
    margin-left: 4px;
}
.button-style img, .button-style-ancho img{
    width: 12px;
    height: 15px;
}