@media (min-width: 750px) {
  .sellDatesView .followers {
    font-size: 1.2em;
  }
}
.sellDatesView .calification .calification-string {
  display: inline-block;
  margin-right: 5px;
}
.sellDatesView .calification .calification-point {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 2px;
  border-radius: 50%;
  border: 1px solid var(--font-color);
}
.sellDatesView .calification .active {
  background-color: var(--color-calification);
}
.sellDatesView .calification .inactive {
  background-color: rgba(0, 0, 0, 0);
}
@media (min-width: 750px) {
  .sellDatesView .calification .calification-string {
    font-size: 1.2em;
  }
  .sellDatesView .calification .calification-point {
    width: 8px;
    height: 8px;
    margin-right: 2px;
  }
}

.buttons-main {
  display: flex;
  align-items: center;
}
.buttons-main .button-style, .buttons-main .button-style-ancho {
  border: 1px solid var(--font-color);
  border-radius: 8px;
  padding: 5px;
  margin-left: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons-main .button-style-ancho {
  padding: 5px 16px;
}
@media (min-width: 750px) {
  .buttons-main {
    margin-left: 20px;
  }
  .buttons-main .button-style, .buttons-main .button-style-ancho {
    width: 20px;
    height: 30px;
    font-size: 1.2em;
  }
  .buttons-main .button-style-ancho {
    width: 40px;
  }
}

.selectors {
  top: var(--selectorsElement-top);
  position: relative;
  display: flex;
  justify-content: space-between;
}
.selectors .wrap-categories {
  margin: 4px;
  margin-left: 4vw;
  display: flex;
  width: 80%;
  max-width: 80%;
  overflow: overlay;
  border-radius: 4px;
  box-shadow: var(--categoriesElement-boxShadow);
}
.selectors .wrap-categories::-webkit-scrollbar {
  width: 0;
}
@media (min-width: 750px) {
  .selectors .wrap-categories {
    margin-left: 5%;
    width: 85%;
  }
}
.selectors .wrap-categories .wrap-categorie {
  border: 1px solid var(--font-color);
  border-radius: 12px;
  height: 80px;
  width: 54px;
  min-width: 54px;
  margin: 0 4px 0 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.selectors .wrap-categories .wrap-categorie .title, .selectors .wrap-categories .wrap-categorie .logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
.selectors .wrap-categories .wrap-categorie .logo {
  height: 60%;
  align-items: center;
}
.selectors .wrap-categories .wrap-categorie .logo i {
  font-size: 1.6em;
}
.selectors .wrap-categories .wrap-categorie .logo img {
  width: 32px;
  border-radius: 4px;
}
.selectors .wrap-categories .wrap-categorie .title {
  font-size: 0.9em;
  height: 40%;
  align-items: top;
}
@media (min-width: 750px) {
  .selectors .wrap-categories .wrap-categorie {
    width: 80px;
    min-width: 80px;
    height: 112px;
    min-height: 112px;
  }
  .selectors .wrap-categories .wrap-categorie .logo i {
    font-size: 2.3em;
  }
  .selectors .wrap-categories .wrap-categorie .logo img {
    width: 40px;
  }
  .selectors .wrap-categories .wrap-categorie .title {
    font-size: 1.2em;
  }
}
.selectors .wrap-categories-plus {
  margin: 4px;
  margin-right: 4vw;
  width: 20%;
  max-height: 82px;
  overflow: overlay;
  scrollbar-width: none;
  border-radius: 4px;
  box-shadow: var(--categoriesPlusElement-boxShadow);
}
.selectors .wrap-categories-plus::-webkit-scrollbar {
  width: 0;
}
@media (min-width: 750px) {
  .selectors .wrap-categories-plus {
    margin-right: 5%;
    width: 15%;
    max-height: 116px;
  }
}
.selectors .wrap-categories-plus .wrap-categorie-plus {
  border: 1px solid var(--font-color);
  border-radius: 12px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35px;
  min-height: 35px;
}
@media (min-width: 750px) {
  .selectors .wrap-categories-plus .wrap-categorie-plus {
    height: 52px;
    min-height: 52px;
  }
}
.exponent {
  width: 100%;
  height: 100vh;
  max-width: 800px;
  margin: auto;
}
.exponent img[alt=Portada], .exponent img[alt=Perfil] {
  width: 100%;
}
.exponent .head-main {
  background-color: var(--bg-section);
  display: flex;
  flex-direction: column;
  position: relative;
  height: var(--headMainElement-heigth);
  padding-bottom: 10px;
}
@media (min-width: 750px) {
  .exponent .head-main {
    padding-bottom: 20px;
    border-radius: 16px;
  }
}
.exponent .head-main .portada-photo {
  position: relative;
  height: 15vh;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
}
@media (min-width: 750px) {
  .exponent .head-main .portada-photo {
    border-radius: 0 0 16px 16px;
    height: 22vh;
  }
}
.exponent .head-main .perfil-photo {
  display: inline-flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 25vw;
  left: 4vw;
  top: var(--perfilElement-top);
  height: var(--perfilElement-height);
}
@media (min-width: 750px) {
  .exponent .head-main .perfil-photo {
    left: 5%;
    width: 18%;
  }
}
.exponent .head-main .perfil-photo img {
  clip-path: var(--perfilElement-clipPath);
}
.exponent .head-main .more-info {
  display: inline-flex;
  position: absolute;
  right: 4vw;
  top: var(--moreInfoElement-top);
}
@media (min-width: 750px) {
  .exponent .head-main .more-info {
    right: 5%;
  }
}
.exponent .head-main .shop-name {
  width: 92vw;
  display: inline-block;
  margin: auto;
  position: relative;
  font-family: Cambria;
  font-size: 0.8em;
  max-height: 2.5em;
  overflow: hidden;
  top: var(--titleElement-top);
}
@media (min-width: 750px) {
  .exponent .head-main .shop-name {
    width: 90%;
    font-size: 1.5em;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: Calibri;
}

#root {
  --bg-section: #252525;
  --bg: #18191a;
  --font-color: #e4e6eb;
  --shadow-color: red;
  overflow: scroll;
  background-color: var(--bg);
  color: var(--font-color);
}
#root::-webkit-scrollbar {
  width: 0;
}

:root {
  overflow: scroll;
}
:root::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/*# sourceMappingURL=index.css.map */
