.sellDatesView .calification .calification-string {
  display: inline-block;
  margin-right: 5px;
}
.sellDatesView .calification .calification-point {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 2px;
  border-radius: 50%;
  border: 1px solid var(--font-color);
}
.sellDatesView .calification .active {
  background-color: var(--color-calification);
}
.sellDatesView .calification .inactive {
  background-color: rgba(0, 0, 0, 0);
}

.buttons-main {
  display: flex;
  align-items: center;
}
.buttons-main .button-style, .buttons-main .button-style-ancho {
  border: 1px solid var(--font-color);
  border-radius: 8px;
  padding: 5px;
  margin-left: 4px;
}
.buttons-main .button-style-ancho {
  padding: 5px 16px;
}

.selectors {
  background-color: rgba(209, 209, 209, 0.329);
  position: relative;
  display: flex;
  justify-content: space-between;
}
.selectors .wrap-categories {
  background-color: rgba(0, 255, 157, 0.295);
  margin-left: 4vw;
  display: flex;
  width: 80%;
}
@media (min-width: 750px) {
  .selectors .wrap-categories {
    margin-left: 5%;
  }
}
.selectors .wrap-categories .wrap-categorie {
  border: 1px solid var(--font-color);
  border-radius: 12px;
  height: 80px;
  width: 54px;
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.selectors .wrap-categories .wrap-categorie .title, .selectors .wrap-categories .wrap-categorie .logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
.selectors .wrap-categories .wrap-categorie .logo {
  background-color: rgba(0, 47, 255, 0.226);
  height: 60%;
  align-items: center;
}
.selectors .wrap-categories .wrap-categorie .logo i {
  font-size: 1.6em;
}
.selectors .wrap-categories .wrap-categorie .logo img {
  width: 32px;
  border-radius: 4px;
}
.selectors .wrap-categories .wrap-categorie .title {
  background-color: rgba(174, 0, 255, 0.226);
  height: 40%;
  align-items: top;
}
.selectors .wrap-categories-plus {
  background-color: rgba(0, 0, 255, 0.295);
  margin-right: 4vw;
  width: 20%;
  max-height: 82px;
  overflow: overlay;
  scrollbar-width: none;
}
.selectors .wrap-categories-plus::-webkit-scrollbar {
  width: 0;
}
@media (min-width: 750px) {
  .selectors .wrap-categories-plus {
    margin-right: 5%;
  }
}
.selectors .wrap-categories-plus .wrap-categorie-plus {
  border: 1px solid var(--font-color);
  border-radius: 12px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35px;
}
.exponent {
  width: 100%;
  height: 100vh;
  max-width: 800px;
  margin: auto;
}
.exponent img[alt=Portada], .exponent img[alt=Perfil] {
  width: 100%;
}
.exponent .head-main {
  display: flex;
  flex-direction: column;
  position: relative;
}
.exponent .head-main .portada-photo {
  height: 15vh;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
}
@media (min-width: 750px) {
  .exponent .head-main .portada-photo {
    border-radius: 0 0 16px 16px;
    height: 30vh;
  }
}
.exponent .head-main .perfil-photo {
  display: inline-flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 25vw;
  left: 4vw;
}
@media (min-width: 750px) {
  .exponent .head-main .perfil-photo {
    left: 5%;
    width: 18%;
  }
}
.exponent .head-main .more-info {
  display: inline-flex;
  position: absolute;
  right: 4vw;
}
@media (min-width: 750px) {
  .exponent .head-main .more-info {
    right: 5%;
  }
}
.exponent .head-main .shop-name {
  width: 92vw;
  display: inline-block;
  margin: auto;
  position: relative;
  font-family: Cambria;
  font-size: 0.8em;
  max-height: 2.5em;
  overflow: hidden;
}
@media (min-width: 750px) {
  .exponent .head-main .shop-name {
    width: 90%;
    font-size: 1.5em;
  }
}

/*# sourceMappingURL=indexExponent.css.map */
